
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid white; */
}
body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main > div {
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
}

div#crypto {
    font-size: 20px;
    padding: 10px;
}
#crypto-top {
    display: flex;
    align-items: center;
    gap: 10px;
}
#weather {
    text-align: center;
    padding-right: 5px;
}
#weather > p {
    font-size: 20px;
}
#author {
    padding: 5px;
}
#time {
    font-size: 43px;
}